<!DOCTYPE html>
<html>
  <head>
    <title>ImbellusTakeHome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="grey">
    <br>
    <div class="container white rounded">
      <div class="title">
        <h3>Super rediculously simple Geolocation App</h3>
      </div>
      <% flash.each do |key, value| %>
        <br>
        <div class="alert alert-<%= key %>">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
